.dashboard-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.dashboard-div{
    height: 80vh;
    position: relative;
}
.innerdiv{
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    color: white;
}
.innerdiv .overflow{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    width: 80%;

}

@media (max-width: 768px) { /* Adjust the breakpoint as needed */
    .innerdiv {
        margin-top: 5rem;
        position: static; /* Change position to normal */
        color: black;
    }
    .dashboard-img{
        height: auto;
    }

    .innerdiv .overflow {
        background: none; /* Remove background */
        backdrop-filter: none; /* Remove backdrop filter */
        width: auto;
    }
}
